/* src/components/NavBar.css */
.nav-bar {
    background-color: purple;
    padding: 0px;
    display: flex;
    justify-content: center;
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 10px;
}

.nav-link {
    color: white;
    font-size: x-large;
    text-decoration: none;
    padding: 0px;
}

.nav-link:hover {
    color: blue;
}
