/* src/components/NavBar.css */
.nav-bar {
    background-color: #282c34;
    display: flex;
    justify-content: space-around;
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.nav-link {
    color: white;
    font-size: x-large;
    text-decoration: none;
    padding: 0;
}

.nav-link:hover {
    color: lightblue;
}
